/*FONTE PADRÃO - font-family: 'Nunito Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*FONTE PARA TÍTULOS -  font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/*FONTE PARA DESTAQUES - font-family: 'Shantell Sans', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*FONTE PARA MENUS -  font-family: 'Oxanium', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{ /*Definições do site*/
    --maxima-lag: 1024px;
    --minima-lag: 250px;
    --fontepadrao: 'Nunito Sans', sans-serif;
    --fontetitulos: 'Comfortaa', cursive;
    --fontemenus: 'Oxanium', cursive;
    --fontedestaques: 'Shantell Sans', cursive;
    --corfundo: #FFF;
    --corfonte: #424242;
    --cortitulos: rgb(255, 128, 0);
    --corcomplementar: #315782;
    --corescura: rgb(25, 25, 29);
}

*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: var(--fontepadrao);
    color: var(--corfonte);
}

header, main, footer{
    max-width: var(--maxima-lag);
    min-width: var(--minima-lag);
    margin: auto;
    padding: 10px;
}

span{
    color: var(--cortitulos);
    font-weight: bolder;
}

.links{
    text-decoration: none;
    font-family: var(--fontedestaques);
    color: var(--corfundo);
}

.links:hover{
    text-decoration: underline;
    color: var(--cortitulos);
}

/* =============== TITULOS =============== */
h1, h2, h3{
    font-family: var(--fontetitulos);
    color: var(--cortitulos);
}

/* =============== HEADER =============== */
#capa{
    display: flex;
    flex-direction: column;
    justify-content: center; /*Centro vertical*/
    background-image: linear-gradient( to top, #3a4586, #6775c4 );
    align-items: center; /*Centro Horizontal*/
    width: 100%;
    height: 300px;
    position: relative;
}

#capa>h1{
    font-size: 3em;
}

#capa>p{
    color: var(--corfundo);
}

#fotoperfil{
    position: relative;
    width: 120px;
    height: 120px;
    left: 30px;
    bottom: 60px;
    border: solid 1px var(--corfundo);
    border-radius: 5px;
}

nav{
    position: relative;
    display: flex;
    justify-content: center;
}

#menu{
    justify-content: space-between;
    display: flex;
    width: 230px;
    margin: auto;
    text-align: center;
    color: var(--corcomplementar);
    position: absolute;
    top:  -60px;
}

#sociais{
    width: 120px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu{
    text-decoration: none;
    font-family: var(--fontemenus);
    color: var(--corcomplementar);
    padding: 5px 10px;
    color: var(--corcomplementar);
    border-radius: 5px;
    font-size: 1.2em;
}

.menu:hover{
    color: var(--corfundo);
    background-color: var(--corcomplementar);
}

.sociais{
    width: 30px;
    height: 30px;
    filter: invert(1) opacity(.7);
}

.sociais:hover{
    filter: invert(0);
}

/* =============== MAIN =============== */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#destaque{/*Sessão*/
    width: 98%;
    margin-top: 10px;
} 

#colunas{  /*Div para colunas*/
    column-count: 1;
    column-gap: 20px;
}

@media (min-width: 600px){
    #colunas{
        column-count: 2;
        column-gap: 20px;
    }
}

@media (min-width: 900px){
    #colunas{
        column-count: 3;
        column-gap: 20px;
    }
}

.justificado{ /*Paragrafo Justificado*/
    text-align: justify;
    line-height: 1.5;
    padding: 10px;
}

.comum{ /*Fotos normais*/
    width: 100%;
}

.hr{
    width: 98%;
    display: flex;
    justify-content: center;
}

.regua{ /*Régua de separação*/
    width: 50%;
    margin: 30px 0px;
    border: solid 1px #d7d7d7;
}

.capitular{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    font-weight: bolder;
    color: var(--corfonte);
}

/* =============== FOOTER =============== */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corcomplementar);
    color: var(--corfundo);
    height: 60px;
}

.youtube{
    background-color: var(--corfundo);
    /*margin:  0px -20px;*/
    position: relative;
    padding-bottom: 57%; /*Ajustar para reirar espaços pretos nas laterais*/
}

.youtube>iframe{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 92%;
    height: 92%;
}

.linksimples{
    text-decoration: none;
    font-family: var(--fontedestaques);
    color: var(--corcomplementar);
}

.linksimples:hover{
    text-decoration: underline;
    color: var(--cortitulos);
}

.listasdesordenadas{
    list-style: none;
    font-family: var(--fontedestaques);
}

.tituloowsada{
    margin-bottom: 35px;
}

.botao{
    width: 50%;
    height: 30px;
    background-color: var(--corcomplementar);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000000af;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    transition: .3s;
}

.botao:hover{
    background-color: var(--cortitulos);
    transition: .3s;
}

.btn-botao{
    text-decoration: none;
    font-family: var(--fontemenus);
    color: var(--corfundo);
    font-weight: bold;
    transition: 3s;
}

/*APAHAR*/
main ul li{
    list-style: none; /*Remove os marcadores da lista*/
}

main a{
    text-decoration: none; /*Remove o sublinhado*/
    color: aqua; /*Muda a cor dos links dentro da tag main*/
}

main a:hover{ /* :HOVER é um pseudo comportamento que muda quando o mouse passar por cima*/
    text-decoration: underline; /*Undeline quando o mouse passar por cima*/
    color: rgb(255, 247, 0); /*Muda de cor quando o mouser passar por cima*/
}


.menu:hover{
    color: azure;
}

#fotoperfil{
    border: 2px solid white;

    
    
}